/* definicoes padroes */
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
	font-size: 100%;
}
p{
    line-height: normal;
}
a{
	text-decoration: none;
}
h1{
	font-family: courgette;
}
main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overlay{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    border-radius: 50%;
    background-color: #f3f3f3a9;
    mix-blend-mode: darken;
}
.btn{
    border: 2px solid rgb(87, 87, 87);
    cursor: pointer;
    border-radius: 5%;
    color: rgb(87, 87, 87);
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff9f1;
}