ul{
    align-self: flex-start;
    margin-top: 2%;
}
li{
   display: inline; 
   margin-top: 2%;
}
.secoes{
    width: 100%;
    font-family: sans-serif;
    margin: 2% 0; 
}
p{
    line-height: 1.5;
    font-size: 1em;
}
.detalhes p{
    margin: 2% 5%;
}
.politicas p{
    margin: 2% 5%;
}
.linha h1{
    border-top: 2px solid rgba(201, 201, 201, 0.473);
    padding-top: 1%;
}

h1{
    font-family: courgette;
}
h4{
    margin-left: 2%;
}
.container-produto img{
    width: 70%;
    flex-grow: 1;
    justify-self: center;
}
.container-produto{
    margin: 4% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-produto-info{
    padding: 5%;
    width: 80%;
    display: grid;
    justify-self: start;
    grid-template-columns: 1fr;
    /* grid-template-areas: "a b" "c d" "e f"; */
}

.grid-produto-info div:nth-child(1) .container-icone-produto i{
    color:#f11ff8ee;  
}
.grid-produto-info div:nth-child(2) .container-icone-produto i{
    color:#351ff8ee;   
}
.grid-produto-info div:nth-child(3) .container-icone-produto i{
    color:#f8761fee;  
}
.grid-produto-info div:nth-child(4) .container-icone-produto i{
    color: rgb(29, 182, 9);   
}
.grid-produto-info div:nth-child(5){
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0;
}

.container-icone-produto div span{
    font-family: sans-serif;
    font-size: 1em;
}

.preco {
    margin-bottom: 3%;
    font-family: "Courgette";
    font-size: 1.9em;
    font-weight: bold;
    color:rgb(29, 182, 9); 
}
.btn-encomendar{
    padding: 6%;
    background-color: #fffcf8;
}
.btn-encomendar:hover{
    background-color: #acacac;
}

.grid-produto-info div{
    display: grid;
    grid-template-columns: .18fr 1fr;
    justify-content: center;
    align-items: center;

}

.container-icone-produto{
    padding: 10% 0;
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.grid-produto-info .fas{
    padding: 5%;
    font-size: 1.5em;
    color: white;
}

/* secoes categorias */
.categoria-grid{
    width: 80%;
    margin: 1% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}

.flexes{
    position: relative;
    margin:4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categoria-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.categoria-item .fas{
    font-size: 3.5em;
    color:white;
    border-radius: 100%;
    /* background-color: rgb(255, 127, 7); */
    padding: 5%;
    transition: .4s ease;
}  

.categoria-item span{
    font-size: 1em;
    font-family: "courgette";
    margin: 0.5% auto;
    font-weight: normal;
}
/* fim categoria */
/* produtos relacionados*/
.overlay{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    border-radius: 50%;
    background-color: #f3f3f3a9;
    mix-blend-mode: darken;
}
.grids{
    margin: 5% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}
.nome-produto{
    font-size: 1.2em;
    font-family: "courgette";
    margin: 0.5% auto;
    font-weight: normal;
}
.preco-produto{
    font-family: "courgette";
    font-size: 1.9em;
    font-weight: bold;
    color:rgb(29, 182, 9); 
}
.preco-produto sup{
    color:rgb(29, 182, 9);
    font-size: .5em;
}
.flexes img{
    width: 50%;
	margin: 2% 0;
	border-radius: 60%;
	/* box-shadow: 0 4px 6px 0 rgba(0 ,0 ,0 , 0.4),  0 6px 10px 0 rgba(0 ,0 ,0 , 0.19);	 */
}
.flexes:hover img{ 
    filter: brightness(1.1) contrast(1.1); 
    transition: .4s ease;
    box-shadow: 0 4px 6px 0 rgba(0 ,0 ,0 , 0.4);
}
.flexes:hover .overlay{
    opacity: 1;
    border-radius: 15% 
}
/* fim produto relacionado */