@media screen and (min-width:1px) and (max-width:600px){
    .secoes{
        width: 100%;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
    }
    h1{
        font-size: 2em;
    }
    .grid div:nth-child(4){
        border-bottom: 1px solid rgb(121, 121, 121);
    }
    div p {
        font-size: 1.2em;
    }
}